@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.nav{
    position: relative;

}

.rounded-nav{
   background-color: white;
    margin: auto;
    border-bottom-right-radius: 60px;
    border-bottom-left-radius: 60px;
    margin-left: 30px;
    margin-right: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.links-btn{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 400;
    border: radius 2%;
    background-color: none;
    border: none;
    padding: 7px 18px;
    margin: 0px 20px;
    background: none;
    cursor: pointer;
}
.nav-btn{
        font-size: 18px;
        font-family: Poppins;
        font-weight: 400;
        border: radius 2%;
        background-color: none;
        border: none;
        padding: 7px 18px;
        margin: 0px 20px;
        background: none;
        cursor: pointer;
        color: white;
    }

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;

}
li{
    list-style-type: none;
}
.li-nav{
    padding-right: 30px;
   
}
.header{
    overflow: hidden;
    width: 100%;
    float: left;
    background-image: url(https://themewagon.github.io/Oinia/images/banner-bg.png);
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;

}
.search-icon{
    width: 25px;
}
.hidden{
    display: none;

}
.menu-btn{
    display: none;
}
.active,.links-btn:hover,.nav-btn{
color: rgb(210, 210, 96);
}
.banner{
    margin-top: 91px;
    text-align: center;
}
.banner-para{
    font-size: 18px;
    font-family: Poppins;
    font-weight: 700;
    color:
    RGB(219, 198, 76) ;

}
.banner-heading{
    font-size: 60px;
    font-family: Poppins;
    color: 
    #FDFCFC;
    font-weight: 700;
}
.head-btn{
    display: block;
    margin: auto;
    height: 48px;
    width: 202px;
    border: 3px solid #dbc64c;
    border: 3px solid #dbc64c;
    color: #dbc64c;
    background: none;
}
.header-btn{
    height: 89px;
    margin-top: 54px;
}
.links{
    overflow: hidden;
}

.container{
    position: relative;
    top: -20px;

    width: 40px;
 margin: auto;
}

.container-img img{
    width: 60px;
    height: 60px;
}
.flex-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}



@media(max-width:932px){
    .menu-btn{
        display: inline-block;
    }
    
    ul {
        overflow: hidden;
        border-radius: 10px;
        background-color: rgb(46, 18, 103);
        width: 80%;
        position: absolute;
        display: flex;
       padding-right: 40px;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        left: -100%;
        transition: left 0.4s linear;
    
        height: 80vh;
    }
    #toggle-btn:checked ~ ul {
        left: 0;
        top: 67px;
        position: static;
    }
    .search-logout{
        color: white;
    }
    .links-btn{
        display: block;
        font-size: 22px;
        color: white;
       
       
        border: none;
        padding: 20px 18px;
        margin: 7px 20px;
        background: none;
        cursor: pointer;

    }
    .nav-btn{
        color: white;
    }
    .rounded-nav{
        display: block;
        display: block;

    }
    .menu-btn{
        position: absolute;
        cursor: pointer;
    top: 7px;
    right: 89px;
    }
    .logout-link{
       display: inline-block;
       margin: auto;
       font-size: 23px;
    
    }
    .svg-search{
        color: white;
    }
    .search-icon {
        width: 25px;
        display: inline-block;}
        .links-btn:hover{
           color: yellow;

        }
    
}
@media only screen and (max-width:579px)  {
    ul{
        left: -200%;
    }
    .banner-heading {
        font-size: 36px;}
.rounded-nav {
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin: 0;
}
.menu-btn {
    right: 14px;
}
}